/**********************************************
*** GENERAL
**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.demo {
  background-color: gray;
  display: inline-block;
  height: 250px;
  margin: 10px;
  width: 250px;
}

.demo--red {
  background-color: red;
}

.demo--green {
  background-color: green;
}

.demo--blue {
  background-color: blue;
}
